# KALTURA PID as a number, not a string
PARTNER_ID=
ADMIN_SECRET=""
USER_ID=""
EXPORT_CSV=True
# Set your desired timezone (e.g., US/Pacific, US/Eastern, US/Central, Europe/Rome)
TIMEZONE=""
# Provide YYYY-MM-DD when your Kaltura KMC was instantiated
EARLIEST_START_DATE=""